nav{
    display: flex;
    justify-content: flex-end; 
    gap: 20px; 
    padding: 20px;
    background-color: transparent; 
}
a{
    text-align: left;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0);
}
a:hover{
    color: white;
    text-decoration: underline;
}
